@import "~@ng-select/ng-select/themes/default.theme.css";
aw-wizard-navigation-bar >ul {
    list-style-type: none;
  }
  .footerstyle{
    margin-top: 100px;
  }
  .p-inputtext{
    width: 270px;
  }
  .step1footer{
    margin-left: 120px;
  }
  body .autocomplete-container .input-container input {
    padding-right: 40px;
    font-weight: 600;
  }
