aw-wizard-navigation-bar >ul {
    list-style-type: none;
  }
  .footerstyle{
    margin-top: 100px;
  }
  .p-inputtext{
    width: 270px;
  }
  .step1footer{
    margin-left: 120px;
  }
  .p-autoComplete{
    width: 100px !important;
  }