<div class="d-flex w-100 align-items-center flex-column justify-content-center p-5" style="height: 95dvh;">
    <div class="d-flex flex-column align-items-start" style="gap: 0.5rem;">
        <h2 class="fw-bold">Forgot Password</h2>
        <p class="text-muted">Please enter your username below to receive your password on your<br> registered
            E-mail/Mobile Number</p>
        <form [formGroup]="forgotPwdForm" (ngSubmit)="forgotPassApi()" class="w-100">
            <div class="form-group d-flex align-items-start w-100 flex-column" style="gap: 1rem;">
                <label class="required text-muted">Username</label>
                <input class="form-control form-control-clicked w-100" formControlName="UserName"
                    placeholder="Enter your Username">
                <div class="error_msg"
                    *ngIf="forgotPwdForm.get('UserName')?.hasError('required') && forgotPwdForm.get('UserName')?.touched">
                    {{utilsService.validationService.REQUIRED_FOR_USER_NAME}}
                </div>
                <button class="btn btn-success w-100 p-2" type="submit" id="ForgetPasswordbutton">Reset</button>
            </div>
        </form>
        <div class="login-meta-data text-center">
            <a [routerLink]="['/login']" class="forgot-password d-block mb-1" routerLinkActive="active">Sign in</a>
        </div>
    </div>
</div>