.login-meta-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-meta-data a {
    font-size: 14px;
    color: #1f0757;
    font-weight: 500;
}

.error_msg {
    color: #e71515;
    font-size: 13px;
}