/* Apply styles to the wizard container */
.aw-wizard {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Apply styles to each step */
  .aw-wizard-step {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Show the first step by default */
  .aw-wizard-step[data-step="1"] {
    display: block;
  }
  
  /* Style the step title */
  .step-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal-header{
    background-color: #18A3E4 !important;
  }
  aw-wizard-navigation-bar >ul {
    list-style-type: none;
  }
  footer{
    position: absolute;
    bottom: 12px;
  } 
  @media only screen and (min-width: 768px) {
  footer{
    position: absolute;
    bottom: 12px;
  }
} 
 @media only screen and (min-width: 590px) {
  footer{
    position: absolute;
    bottom: 12px;
  }
} 

label{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header{
  height: 40px;
}
.p-inputtext{
  font-size: 15px;
}
zxing-scanner {
  width:auto;
  height: auto;
  margin: 0 auto;
  }
.overflow{
  height: 60vh;
    overflow: auto;
}
 
 .btnPrevious{
  margin-right: 130px !important;
  margin-left: 10px;
 }
 @media only screen and (min-width: 390px) {

  .btnPrevious{
    margin-right: 180px;
   }
}

.centered-content{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
  } 
  .table-container {
    max-height: 200px;
    overflow-y: auto;
  }

  .redbg{
    background-color: red;
  }
  .bluebg{
    background-color: #39c0ff;
  }
  .greenbg{
    background-color: rgb(0, 238, 0);
  }
 
  footer{
    position: absolute;
    bottom: 12px;
  }
  strong{
    color: #442be2;
  }
  