/* Apply styles to the wizard container */
.aw-wizard {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Apply styles to each step */
  .aw-wizard-step {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Show the first step by default */
  .aw-wizard-step[data-step="1"] {
    display: block;
  }
  
  /* Style the step title */
  .step-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style the buttons */
  /* button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  } */
  
  /* Apply specific styles to different buttons */
  /* .next-step {
    background-color: #007bff;
  } */
  
  /* .previous-step {
    background-color: #ccc;
  } */
  
  /* Style the finish button */
  /* button[onclick="finishFunction"] {
    background-color: #4CAF50;
  } */
/*   
  button:hover {
    background-color: #0056b3;
  } */

  .modal-header{
    background-color: #18A3E4 !important;
  }
  aw-wizard-navigation-bar >ul {
    list-style-type: none;
  }
  footer{
    position: absolute;
    bottom: 0;
  }
 @media only screen and (min-width: 768px) {
  footer{
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (min-width: 590px) {
  footer{
    position: absolute;
    bottom: 0;
  }
}
