<div>
  <div style="text-align: right;" *ngIf="!isAuthorizeDisable">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
      style="margin-right: 20px;border: none;background-color: white;" data-bs-target="#mymodal"
      (click)="openModal('mymodal')" *ngIf="isSettingEnabled">
      <i class="fa-sharp fa-solid fa-gear" style="color: black;"></i>
    </button>
  </div>
  <div *ngIf="currentStep === 1;">
    <div class="centered-content">
      <div class="card cardStep1">
        <div class="rounded border border-secondary p-5 mb-3" (click)="startScanner()" *ngIf="scanImp">Scan Employee
        </div>
        <div class="rounded border border-secondary p-3 mb-3" *ngIf="isScannerEnabled"><zxing-scanner #scanner
            [(device)]="selectedDevice" [autofocusEnabled]="true" (camerasFound)="camerasFoundHandler($event)"
            (scanSuccess)="handleScanEmployee($event)" [formats]="allowedFormats">
          </zxing-scanner></div>
        <div class="input-group input-group-sm mb-3 autocust">
          <ng-autocomplete style="width:100%;" [data]="arryforEmployee" [searchKeyword]="keyword"
            placeholder="Enter Employee " (selected)='onSelectEmployee($event)' (inputChanged)='search($event)'
            (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
            (inputCleared)="searchClearedEmployee()" (keydown.tab)="clear($event)" (keydown.enter)="clear($event)"
            [(ngModel)]="this.employee">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          <!-- <button type="button" class="btn btn-success step1footer" style="margin-left: 20px;"
            [disabled]="isScannerEnabled || !employeeSelected || !LocationID || !DepartmentID || !ProcessID"
            (click)="this.isSettingEnabled = false; setLabel();nextStep()">Next</button> -->
        </div>
        <button type="button" class="btn btn-success step1footer" style="margin-left: 2px;"
            [disabled]="isScannerEnabled || !employeeSelected || !LocationID || !DepartmentID || !ProcessID"
            (click)="this.isSettingEnabled = false; setLabel();nextStep()">Next</button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <footer *ngIf="isFooterEnabled">
        <button class="btn btn-primary " *ngIf="isScannerEnabled" (click)="stopScanner()">Stop Scanner</button>
      </footer>
    </div>
  </div>
  <div *ngIf="currentStep === 2">
    <div class="centered-content" [ngClass]="!isFooterEnabled ? 'pointernone' : 'pointerall'">
      <div class="card" style="margin-top: -10px;">
          <div>
            <p class="lab"><b>Department:</b><strong> {{this.department}}</strong></p>
            <p class="lab"><b>Process:</b><strong> {{this.process}}</strong></p>
            <p class="lab"><b>Location:</b><strong> {{this.location}}</strong></p>
          </div>
          <div class="rounded border border-secondary p-5 mb-2" (click)="startScanner()" *ngIf="scanImp">Scan
            Impression
            No.</div>
          <div class="rounded border border-secondary p-3 mb-1" *ngIf="isScannerEnabled"><zxing-scanner #scanner
              [(device)]="selectedDevice" (camerasFound)="camerasFoundHandler($event)"
              (scanSuccess)="handleScanImpression($event)" [formats]="allowedFormats">
            </zxing-scanner>
          </div>
        <div class="input-group input-group-sm mb-1">
          <input type="text" (keyup.enter)="this.validateProcess()" class="form-control inputbox" aria-label="Small"
            placeholder="Type Impression Number" [(ngModel)]="impressionNo" aria-describedby="inputGroup-sizing-sm">
          <button type="button" [disabled]="this.impressionNo.length==0" class="btn btn-success"
            style="margin-left: 20px;" *ngIf="!isNextEnabled" (click)="validateProcess()">Add</button>
        </div>
        <div *ngIf="this.newArrayOfImp.length>0">
          <div class="table-container">
            <div class=" mb-3"><b>Process Impression No./s?</b></div>
            <table class="table">
              <tbody>
                <tr class="table-dark">
                  <th></th>
                  <th>Imp no</th>
                  <th>Unit</th>
                  <th></th>
                </tr>
                <tr *ngFor="let item of newArrayOfImp; let i = index">
                  <td><span (click)="removeItem(item.JobEntryNo)"><i class="fa fa-trash"
                        style="color: red; margin-right: 20px;" aria-hidden="true"></i></span></td>
                  <td>{{item.JobEntryNo}}</td>
                  <td>{{item.Units}}</td>
                  <td [ngClass]="(item.NextStep == 'Skip') ? 'redbg' : 
                    (item.NextStep == 'Redo 1 IN' || item.NextStep == 'Redo 2 IN' || item.NextStep == 'Redo 3 IN' || item.NextStep == 'Redo 4 IN' || item.NextStep == 'Job IN') ? 'bluebg' : 
                    'greenbg'">{{item.NextStep}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     </div>
    <div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <footer *ngIf="isFooterEnabled">
        <button type="button" class="btn btn-danger "
          (click)="this.clearArray();prevStep();this.isSettingEnabled = true" *ngIf="!isScannerEnabled"
          style="margin-right: 25vh;">Previous</button>
        <button class="btn btn-primary " *ngIf="isScannerEnabled" (click)="stopScanner()">Stop Scanner</button>
        <button type="button" class="btn btn-success" (click)="syncSubmit();prevStep();this.clearArray()"
          [disabled]="this.SkipProcessListColln.length==0 && this.SkipProcessListColln.length==0" *ngIf="!isScannerEnabled">Submit</button>
      </footer>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<!-- setting Modal -->
<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="exampleModalLabel" style="color: white">Set Values</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal('mymodal')"></button>
      </div>
      <div class="modal-body">
        <div>
          <table>
            <tbody>
              <tr>
                <td>
                  <label for="" class="mb-2">Location</label>
                </td>
                <td>
                  <ng-select class="mb-2" [items]="arrayForLocationList" dropdownPosition="bottom"
                    notFoundText="Location not found" [clearable]="false" [(ngModel)]="LocationID" bindLabel="name"
                    bindValue="id" placeholder="Select Location">
                  </ng-select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="" class="mb-2">Department</label>
                </td>
                <td>
                  <ng-select class="mb-2" [items]="arrayForDepartmentList" [dropdownPosition]="'bottom'"
                    notFoundText="Department not found" [clearable]="false" [(ngModel)]="DepartmentID" bindLabel="name"
                    bindValue="id" (change)="onSelectDepartment()" placeholder="Select Department">
                  </ng-select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="" class="mb-2">Process</label>
                </td>
                <td>
                  <ng-select class="mb-2" [items]="arrayForProcessList" [dropdownPosition]="'bottom'"
                    notFoundText="Process not found" [clearable]="false" [(ngModel)]="ProcessID" bindLabel="name"
                    bindValue="id" placeholder="Select Process" [disabled]="!processJob">
                  </ng-select>
                </td>
              </tr>
              <tr>
                <td><label class="mb-2">Employee</label></td>
                <td>
                  <ng-autocomplete [data]="arryforEmployee" [searchKeyword]="keyword" placeholder="Enter Employee "
                    (selected)='onSelectEmployee($event)' (inputChanged)='search($event)'
                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" (inputCleared)="searchClearedEmployee()"
                    (keydown.tab)="clear($event)" (keydown.enter)="clear($event)" [(ngModel)]="employee">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" style="background-color: #18A3E4 !important;"
          (click)="closeModal('mymodal');onSubmitSettingModal()" data-bs-dismiss="modal"
          [disabled]="!(LocationID&&ProcessID&&DepartmentID)">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Message Modal -->
<div class="modal" aria-labelledby="exampleModalCenterTitle" id="messageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white" id="exampleModalLongTitle">Skip Process List</h5>
        <!-- <button class="btn btn-icon ml-2 justify-content-end d-flex mr-2" (click)="closeModal('messageModal')"
          data-dismiss="modal" title="Close" style="background: none;color: black;"><i
            class="fa-solid fa-xmark"></i></button> -->
      </div>
      <div class="modal-body overflow">
        <b>Below Are/Is Skip Process List:</b>
        <p *ngFor="let item of ListOfSkipProcess">
          {{item}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal('messageModal');"
          data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" (click)="closeModal('messageModal');cancelSkip();"
          data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Message Modal -->
<div class="modal" aria-labelledby="exampleModalCenterTitle" id="confirmModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white" id="exampleModalLongTitle">Message</h5>
        <button class="btn btn-icon ml-2 justify-content-end d-flex mr-2" (click)="closeModal('confirmModal')"
          data-dismiss="modal" title="Close" style="background: none; color: black;"><i
            class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <b>Do you wish to keep scanning?</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal('confirmModal'); this.isNextEnabled = false"
          data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" (click)="closeModal('confirmModal'); this.isNextEnabled = true"
          data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>